# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dirs
intermediates
project
project2
deps/nanovg
deps/imgui
deps/SDL
deps/stb
deps/tinyxml2

build/main.pdb
build/imgui.ini

